body {
  max-height: 100vh;
}

.container {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  border-radius: 16px;
  background-color: #969696;
}

h1 {
  padding-top: 25px;
}

.container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#height,
#weight {
  width: 150px;
  height: 25px;
}


#result {
  font-size: 35px;
  /* margin-left: 90px; */
  margin-top: 20px;
  min-height: 50px;
  color: rgb(241, 241, 241);
}

#guide {
  font-size: 20px;
  color: aliceblue;
}

button {
  margin-top: 25px;
  background-color: #fff;
  padding: 5px 36px;
  border-radius: 99px;
  color: #212121;
  text-decoration: none;
  border: 2px solid #212121;
  font-size: 25px;
}